2b_v7/
__pycache__/
covs.npy
eigenfucs.py
eigenfunc_ratios.pdf
eigenfunc_ratios.png
eigenfunc_values.pdf
eigenfunc_values.png
eigenfuncs.pdf
eigenfuncs.png
env/
k-s-getting.py
means.npy
opt_params/
parquet_hists/
plots/
poly_means_covs/
requirements.txt
samples/
temp.pdf
temp.png
tempytempy.pdf
tempytempy.png
testin2.py
testing.py
testingsss.pdf
testingsss.png
testingsss2.pdf
testingsss2.png
trained_networks/
